@charset "utf-8";
* {
  margin:0;
  padding:0;
}

a {color:#123123;
   -webkit-transition: color 0.8s ease;
   -moz-webkit-transition: color 0.8s ease;
   -o-transition: color 0.8s ease;}

a:hover{color:#111;
        -webkit-transition: color 0.8s ease;
        -moz-webkit-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;}

body{
  font-family:Verdana, Helvetica Neue,Hei,Arial,sans-serif;
  color:#000;
  font-size:1em;
  padding:0px;
  background:#f1f1f1;
}

header {
  display: block;
  margin:auto;
  height:200px;
  background:#ddd;
  /*background:url("http://datacom.ru/pskov/img/logo2.gif") no-repeat bottom right;*/
}

header h1 a{
  margin:20px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header h1 a:hover{

  margin:20px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header h2 {
  margin:90px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header p {
  position:absolute;
  margin:190px 12px;
}


nav {
  height:50px;
  width:100%;
  /* background:#333 url("http://gimp-id-photo.ru/images/nav_bg.png") repeat-x; */
  background:#333;
  display:block;
  position:relative;
  z-index:1;
  -webkit-box-shadow:#000 0px 0px 8px;
  -moz-box-shadow:#000   0px 0px 8px;
  box-shadow:#000        0px 0px 8px;
  text-align:center;
}

nav ul {
  margin:0px auto;
  padding:8px;
  list-style-type: circle;
}

nav ul li {
  float:left;
  margin:6 6px;
  overflow: hidden;
  white-space: nowrap;
}

nav ul li:after {
  padding:0px 6px;
  color:#eee;
  content:'→';
}

nav ul li a{
  font: normal 1.1em/1.1em Verdana;
  color:#eee;
  -webkit-transition: color 1s ease;
  -moz-webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
}

nav ul li a:hover{
  color:#fff;
  -webkit-transition: color 0.2s ease;
  -moz-webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

h2,h3 {
  margin-top:20px;
  margin-bottom:0.5em;
  color:#111;
}

article {
  display:block;
  margin:-15px auto 20px;
  padding:25px 15px 15px;
  background:transparent;
  width:70%;
}

article  p {
  line-height:1.5em;
  text-indent:1em;
  margin:1em auto;
  text-align:justify;
}

article p.consol {
background: #122312;
color: white;
padding: 15px 20px;
font-family: "Ubuntu Mono", monospace, "Courier New";
font-size: 14px;
line-height: 23px;
text-indent:0;
}

article a {color:#3882cc;}

article a:hover{color:#003be7;}

figure {
  display:block;
  margin:3em auto;
  text-align:center;
}

figcaption {
  display:block;
  width:950px;
  font-size:1em;
  text-align:left;
  line-height:1.5em;
  margin:10px auto;
  color:#000;
}

blockquote {
  display:block;
  margin:1em auto;
  text-align:justify;
  padding:10px;
  border:1px dotted #666;
  background:#eeeeec;
}

article ul {
  background:transparent;
  display:block;
  text-align:left;
  margin:25px 35px 25px 35px;
}

article ul li {
  margin-top:15px;
}

dl {
  display:block;
  text-align:justify;
  margin:20px auto;
}

dt {
  font: bold 1em/1.1em Verdana;
  margin-top:25px;
  border-bottom:1px solid #666;
  padding:5px 0px;
}

dd{
  padding:10px 35px 0px;
}

code, var {
  font: bold 1em/1.1em Verdana;
}

abbr {cursor: help;}

article img {width:100%;}

#dtable{
  border:1px #aaa solid;
  border-collapse:collapse;
  margin:50px auto;
  color:#000;
}
#dtable tr.trhead {background:#333; color:#fff;}
#dtable tr.tbg1 {background:#eee;
                 -webkit-transition: background 1s ease;
                 -moz-webkit-transition: background 1s ease;
                 -o-transition: background 1s ease;
                 border:1px solid #aaa;}
#dtable tr.tbg1:hover {background:#f1f7ae;
                       -webkit-transition: background 0.3s ease;
                       -moz-transition: background 0.3s ease;
                       -o-transition: background 0.3s ease;
                       border:1px solid #ccc;}
#dtable tr.tbg2 {background:#ccc; 
                 -webkit-transition: background 1s ease;
                 -moz-webkit-transition: background 1s ease;
                 -o-transition: background 1s ease;
                 border: 1px solid #aaa;}
#dtable tr.tbg2:hover {background:#f1f7ae;
                       -webkit-transition: background 0.3s ease;
                       -moz-webkit-transition: background 0.3s ease;
                       -o-transition: background 0.3s ease;
                       border: 1px solid #ccc;}


#dtable th {font-weight:normal; padding:9px 5px; border:1px #aaa solid;}
#dtable th.th1 {width:560px;}
#dtable th.th2 {}
#dtable th.th3 {}
#dtable th.th4 {}
#dtable th.th5 {}
#dtable td {padding:5px; border:1px #aaa solid;}
#dtable td input {width:100%; padding:3px;}
#dtable td select {width:100%; margin:7px auto;}
#dtable td.link{background:#5eb15e; border-radius: 50px;}
#dtable td.no_link{background:#ad4b4b; border-radius: 50px;}

.rayon {border: 2px double;}

.warning {background: #f1ce78;
          border: 1px solid #f69b52;}

.notice {background: #d5cbcb;
       border: 1px solid #373434;}

.info {background: #9af185;
       border: 1px solid #26a009;}

.error {background: #f68c8c;
        border: 1px solid #f60d0d;}

.host_name {
            float: left;
            max-width: 900px;
            border-radius: 5px 5px 0 0;
            font: bold 15px Verdana, Arial, Helvetica, sans-serif;
            border-bottom: 0;
            padding: 3px 7px 4px;
            margin:5 0 -2 5;
            position: relative;
            display: block;
            top: -1px;
            bottom: 0;
            left -1px;
            z-index: 1000;
           }

.message_body{
              clear: left;
              border-radius: 0 5px 5px 5px;
              font: 14px Arial, Helvetica, sans-serif;
              padding:3px 7px 4px;
              margin:0 5 5 5;
              min-height: 10px;
              position: relative;
              
              }

.go_telnet {margin:3px 0 -2 4;}
.go_web {
        text-decoration:none;
        color:#191919;
        -webkit-transition: color 0.8s ease;
        -moz-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;}

.go_web:hover{color:#717171;
        -webkit-transition: color 0.8s ease;
        -moz-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;}

footer {
  display:block;
  position:absolute;
  width:100%;
  border-top:1px inset #888;
  background:#111;
  color:#fff;
  font-size:0.8em;
}

footer p{
  margin-bottom:10px;
  color:#ccccce;
}

footer ul {
  display:block;
  width:auto;
  margin:30;
  list-style-type:none;
}

footer ul  li {
  display: inline;
  margin:0 15px;
}

footer form {
  position:absolute;
  right:0px;
  float:left;
  margin:30px;
}

.copyright {
  float:left;
  margin:30px;
}

.copyright strong {
  font-weight:normal;
}